{% extends "base.html.twig" %}

{% block github_fork_me %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="well col-lg-4 col-lg-offset-4 text-center">
            <h1>Error 500</h1>

            <h4>Oww no...</h4>
            <p>The server encountered a problem. Sorry.</p>

            <p>
                <a href="{{ path('index') }}" class="btn btn-primary btn-lg">
                    <i class="glyphicon glyphicon-home"></i>
                    Go back home!
                </a>
            </p>
        </div>
    </div>
    <br><br>
{% endblock %}
