# IDE
.idea

# Symfony
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar

# Couscous
.couscous

# Sqlite DB
/app/data.db3

# Socket IO

/src/AppBundle/Resources/SocketIo/node_modules