{% extends 'base_logged.html.twig' %}

{% block body %}

    <h1><i class="glyphicon glyphicon-education"></i> How does it work?</h1>

    <div class="well">

        <h3>1) Create a forward</h3>
        <p>Click <a href="{{ path('webhook_new') }}">here</a> to create a forward.</p>

        <h3>2) Install and configure the client on your local environment</h3>
        <pre><code class="bash" id="install-command">curl -OSL https://git.io/vwu9e -o localhook.phar && chmod +x localhook.phar && sudo mv localhook.phar /usr/local/bin/localhook && localhook auto-configure "{{ socket_secret }}"</code></pre>
        <button class="btn btn-xs btn-default btn-clipboard" type="button"
                data-clipboard-target="#install-command">
            Copy this install command
        </button>

        <h3>3) Run the client</h3>
        <pre><code class="bash" id="run-command">localhook run</code></pre>
        <button class="btn btn-xs btn-default btn-clipboard" type="button"
                data-clipboard-target="#run-command">
            Copy this install command
        </button>
    </div>
{% endblock %}
