{% extends 'base.html.twig' %}

{% block body %}
    <h1><i class="glyphicon glyphicon-list"></i> Welcome to Localhook!</h1>

    <div class="row">
        <div class="col-lg-6">
            <div class="well">
                <div class="text-center">
                    <h4>Already a user?</h4>
                    <p>Just login with email/username.</p>
                    <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">
                        <i class="glyphicon glyphicon-log-in"></i>
                        Login
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="well">
                <div class="text-center">
                    <h4>New user?</h4>
                    <p>Quick sign up in 2 seconds! (username, login, password)</p>
                    <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}">
                        <i class="glyphicon glyphicon-plus"></i>
                        Quick sign up!
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
